


.d-navbar-list{
  display: flex;
  align-items: center;
  justify-content: end;

}


.d-navbar-list li a{
  display: block;
  padding: 20px 15px;
  font-size: 15px;
  font-weight: 400;
  color: #4d4d4d;
  line-height: 1.7;
  color: #fff;
}